// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.profile-picture{
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    }
